.care_wrapper
  .care_wrapper__header
    Dynamic visual acuity training(動体視力トレーニング)
    = link_to root_path do
      TOPページに戻る
  .care_wrapper__middle
    .care_wrapper__middle__header
      %input.care_wrapper__middle__header__start{type: "button", value: "Start"}
    .care_wrapper__middle__main
      %input.care_wrapper__middle__main__btn1{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn2{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn3{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn4{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn5{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn6{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn7{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn8{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn9{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn10{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn11{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn12{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn13{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn14{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn15{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn16{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn17{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn18{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn19{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn20{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn21{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn22{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn23{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn24{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn25{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn26{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn27{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn28{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn29{class: "btn", type: "button", value: "click"}
      %input.care_wrapper__middle__main__btn30{class: "btn", type: "button", value: "click"}
  .care_wrapper__bottom
    Total score
    %i.care_wrapper__bottom__figure
      0
    %i.care_wrapper__bottom__end
      Press Start 
    %input.care_wrapper__bottom__reset{type: "button", value: "Reset", class: "reset"}