.side_bar
  .side_bar__top
    Decathlon
    = link_to "#" do
      %i.fa.fa-plus
  .side_bar__under
    .side_bar__under__type
      Bobslad
    .side_bar__under__type
      Lacrosse
    .side_bar__under__type
      squash