.nutrition_wrapper
  %h1.nutrition_wrapper__title
    = link_to root_path do
      TOPページに戻る
  %h2 
    Click point where you want to train
  = image_tag "jintai.png", usemap: "#image-map"
  %map{name: "image-map"}
    %area{target: "_blank", alt: "胸", title: "胸", href: chests_path, coords: "346,149,533,235", shape: "rect"}
    %area{target: "_blank", alt: "腹筋", title: "腹筋", href: bellies_path, coords: "359,239,529,355", shape: "rect"}
    %area{target: "_blank", alt: "大腿", title: "大腿", href: thighs_path, coords: "335,364,564,524", shape: "rect"}
    %area{target: "_blank", alt: "脹脛", title: "脹脛", href: calves_path, coords: "321,561,579,754", shape: "rect"}
    %area{target: "_blank", alt: "腕", title: "腕", href: arms_path, coords: "346,149,226,370", shape: "rect"}
    -# %area{target: "_blank", alt: "肩", title: "肩", href: "#", coords: "533,156,668,351", shape: "rect"}
    %area{target: "_blank", alt: "背中", title: "背中", href: backs_path, coords: "903,121,1117,319", shape: "rect"}
    %area{target: "_blank", alt: "大臀", title: "大臀", href: hips_path, coords: "901,334,1132,440", shape: "rect"}