!!!
%html
  %head
    %script
      "jquery.easing.1.3.js"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kizuna
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    
  %body
    -# = render 'layouts/notifications'
    = yield


